<nav class="navbar">
  <div class="title">
    <a href="/">Gallery</a>
  </div>
  <ul>
    <li><a href="/challenges">Challenges</a></li>
    <li class="name"><a href="#"><%= user.name %></a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
</nav>
