
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.challenges-header {
  text-align: center;
  margin-top: 2em;
  font-size: 2em;
}

.underline {
  text-decoration: underline;
}

.challenge-desc {
  display: flex;
  flex-direction: column;
}

.challenge-desc > p{
  margin: 0;
  word-wrap: break-word;
  line-height: 1.5em;
  font-size: 1.4em;
}

.challenge-options {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-action {
  padding: 0.5em 2.2em;
  background: linear-gradient(rgb(19, 194, 19), rgb(37, 163, 37));
  color: white;
  font-weight: 600;
  font-size: 1.1em;
  border-radius: 0.2em;
  cursor: pointer;
}

.hide {
  visibility: hidden;
}

.err {
  color: red;
  text-align: center;
}

.discussions-container {
  box-shadow: 0px 0px 10px gainsboro inset;
  border-radius: 5px;
  margin: 0 2.5em;
  padding: 1em;
  margin-top: 2em;
}

.new-discussion {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.5em;
}

.comment {
 display: flex;
 flex-direction: column;
}

.them {
  align-self: flex-start;
}

.you {
  align-self: flex-end;
}

.comment > div {
  background-color: gainsboro;
  padding: 0.7em;
  border-radius: 7px;
  margin: 0.2em;
}

.comment-text, .posted-by {
  margin: 0;
}

.comment-text {
  margin: 1px;
}

.comments {
  max-height: 18.6em;
  overflow: scroll;
  padding: 1.8em;
}

.comments-container {
  border: 1px solid;
  border-radius: 6px;
}

.hide-display {
  display: none;
}

.discussions-length {
  font-weight: 100;
  font-size: 0.7em;
}

.discussions-container > .header {
  margin-top: 0;
  text-align: center;
}

.discussion-title {
  text-align: center;
  cursor: pointer;
  margin-bottom: 0;
}

.comments-options {
  display: flex;
  justify-content: space-between;
}

.comments-options > input {
  width: 100%;
  margin: 0.4em 0 0.4em 0.4em;
  padding-left: 0.7em;
  font-size: 1.1em;
}

.comments-options > button, #discussion-create {
  width: 15em;
  background: linear-gradient(rgb(19, 194, 19), rgb(37, 163, 37));
  color: white;
  font-weight: 600;
  padding: 0.6em 0;
  border-radius: 4px;
  margin: 0.4em;
}

.challenge-created-name {
  font-weight: 600;
}

.challenge-details {
  margin-top: 8em;
}

input {
  outline: none;
}

.picked-people {
  max-width: 20em;
  overflow: scroll;
  border:1px solid #ccc;
  color: rgb(56, 55, 55);
  max-height: 4em;
  border-radius: 0.3em;
  padding: 0.6em;
}

.picked-people > p {
  margin-top: 0;
}

.picked-people  .name {
  font-weight: 900;
}

.solvers {
  margin-top: 1.5em;
  display: flex;
}

.solvers > .label {
  margin-top: 6px;
  margin-right: 4px;
}
