
.challenges {
  display: flex;
  margin-top: 0em;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.challenges-header {
  text-align: center;
  margin-top: 2em;
  font-size: 2em;
}

.challenges > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.challenge {
  font-size: 1.5em;
  margin: 0.2em;
  background: gainsboro;
  padding: 1em;
  text-align: center;
}

#new-challenge {
  display: block;
  margin: 0 auto;
  margin-top: 1em;
  padding: 0.5em;
  border-radius: 0.2em;
  border: 1px solid;
  font-weight: 900;
  background: linear-gradient(rgb(19, 194, 19), rgb(37, 163, 37));
  color: white;
  cursor: pointer;
  font-size: 1.1em;
  padding: 0.6em 2em;
  outline: none;
}

.new-challenge {
  display: flex;
  flex-direction: column;
}

.new-challenge > * {
  margin: 0 auto;
}

#new-challenge-title, #new-challenge-desc {
  padding: .5em;
  margin-bottom: 0.8em;
}

hr {
  margin: 2em  0 0;
}

.new-challenge-header {
  text-align: center;
  margin: 0;
  font-size: 2em;
  margin: 1em 0;
}

.challenge-labels {
  margin-bottom: 0;
  margin-top: 0.5em;
}

.challenge:hover {
  background: #cecbcb;
}

.not-found {
  opacity: 0.6;
  font-style: italic;
}
