.challenges {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1.5em;
}

.challenges-header {
  margin: 0.2em;
  font-size: 2em;
  font-weight: 600;
  color:#656464;
}

.challenges-header:hover {
  color: black;
}

.home-header {
  text-align: center;
}
