<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <header>
      <%- include('../partials/header') %>
    </header>
    <h3 class="challenges-header">Challenges you taken up</h3>
    <div class="challenges">
      <% if (user.challenges.length) { %> <% user.challenges.forEach(c => { %>
      <a class="challenge" href="/challenges/<%= c.id %>">
        <%= challenges.find(challenge => challenge.id === c.id).title %>
      </a>
      <% })} else { %>
      <div class="challenge">No Challenges Found</div>
      <% } %>
    </div>
    <hr>
    <div class="new-challenge">
      <h3 class="new-challenge-header">Create a new challenge</h3>
      <div>
      <h3 class="challenge-labels">Title:</h3>
      <input type="text" id="new-challenge-title" placeholder="Title">
      <h3 class="challenge-labels">Description:</h3>
      <textarea id="new-challenge-desc" cols="40" rows="10" placeholder="Description"></textarea>
      <button id="new-challenge">Create New Challenge</button>
    </div>
    </div>
  </body>
</html>
