<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/challenge.css" />
    <script src="/js/challenge.js"></script>
  </head>
  <body>
    <header>
      <%- include('../partials/header') %>
    </header>
    <div class="container">
      <h2 class="challenges-header underline">
        <%= challenge.title %>
      </h2>
      <div class="challenge-desc">
        <% challenge.description.split('\n').forEach(desc => { %>
        <p><%= desc %></p>
        <% }) %>
      </div>
    </div>
    <div class="challenge-options">
      <% if(user.challenges.includes(challenge.id)){ %>
      <div class="button-action">Submit as completed</div>
      <% } else { %>
      <div class="button-action">Pick this challenge</div>
      <% } %>
    </div>
  </body>
</html>
