<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/challenges.css" />
  </head>
  <body>
    <header>
      <%- include('../partials/header') %>
    </header>
    <div class="container">
      <h2 class="challenges-header underline">
        <%= challenge.title %>
      </h2>
      <div class="challenge-desc">
        <% challenge.description.split('\n').forEach(desc => { %>
        <p><%= desc %></p>
        <% }) %>
      </div>
      <div class="challenge-options"></div>
    </div>
  </body>
</html>
