<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/login.css" />
    <script src="/js/login.js"></script>
  </head>
  <body>
    <div class="title">Code Gallery</div>
    <div class="container" id="login-container">
      <h2>Login to continue</h2>
      <div class="action">
        <label class="wrong hide" id="incorrectUP">Username or password is incorrect</label>
        <div class="credentials-container">
          <label for="username">Username:</label>
          <input type="text" class="credentials" id="login-username" />
        </div>
        <div class="credentials-container">
          <label for="password">Password:</label>
          <input type="password" class="credentials" id="login-password" />
        </div>
        <button id="login" class="button green">Login</button>
        <button class="button blue" onclick="swap('signup-container', 'login-container')">
          Signup
        </button>
      </div>
    </div>
    <div class="container hide-display" id="signup-container">
      <h2>Signup to continue</h2>
      <div class="action">
        <label class="wrong hide">Username or password is incorrect</label>
        <div class="credentials-container">
          <label for="username">Username:</label>
          <input type="text" class="credentials" id="signup-username" />
        </div>
        <div class="credentials-container">
          <label for="password">Password:</label>
          <input type="password" class="credentials" id="signup-password" />
        </div>
        <div class="credentials-container">
          <label for="password">Confirm:&nbsp;</label>
          <input type="password" class="credentials" id="signup-confirm" />
        </div>
        <button id="signup" class="button green"> Signup </button>
        <button class="button blue" onclick="swap('login-container', 'signup-container')">Login</button>
      </div>
    </div>
  </body>
</html>
